@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* { 
    font-family: "MaplestoryOTFBold"; 
}

.ui.fixed.menu {
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
    font-family: "MaplestoryOTFBold" !important;
}

.main.container {
    margin-top: 5em;
}

body{
    vertical-align: middle;
    /* background-color: #e0f2f1 !important; */
}

div.ui.massive.horizontal.divided.list > div.item > div.meta {
    font-size: 1.2rem;
    line-height: 120%;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.ui.massive.horizontal.divided.list > div.item > div.description {
    font-size: 0.8rem;
    line-height: 120%;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:lightseagreen
}


#hair > div.item:nth-child(-n+6) > .meta {
    background-color: yellow;
    color: rgb(160, 139, 139) !important;
    text-align: center;
}

#face > div.item:nth-child(-n+6) > .meta {
    background-color: yellow;
    color: rgb(160, 139, 139) !important;
    text-align: center;
}

#clothes > div.item:nth-child(-n+12) > .meta {
    background-color: yellow;
    color: rgb(160, 139, 139) !important;
    text-align: center;
}

#pet > div.item:nth-child(-n+6) > .meta {
    background-color: yellow;
    color: rgb(160, 139, 139) !important;
    text-align: center;
}

.item {
    text-align: center;
}

#priceSum {
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-align:center;
    width: 100%;
    line-height: 200%;
}

@media only screen and (max-width: 768px) {
    .ui.ui.ui.container:not(.fluid) {
        width: auto;
        margin-left: 0.7em;
        margin-right: 0.7em;
    }
}
